{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h2>Create a Thread</h2>
      {{paper-input label="Title" value=title required=true required-errortext="Title is required."}}
      {{paper-input label="Link" value=link}}
      <p></p>
    {{/paper-card-title-text}}
    {{#paper-card-title-media}}
      {{video-upload saveVideo=(action "saveVideo")}}
    {{/paper-card-title-media}}
  {{/paper-card-title}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button action="save"}}Save{{/paper-button}}
  </div>
{{/paper-card}}