<div id="videos-container">
  {{#if isRecording}}
  <div class="recording-icon">
    {{paper-icon "fiber_smart_record"}}
  </div>
  {{/if}}
</div>
{{#if isRecording}}
  {{#paper-button warn onClick=(action "cancel")}} cancel{{/paper-button}}
  {{#paper-button primary onClick=(action "save")}} save{{/paper-button}}
{{else}}
  {{#paper-button primary onClick=(action "start")}} start recording{{/paper-button}}
{{/if}}
{{#if firebaseUpload.uploading}}
{{paper-progress-linear value=firebaseUpload.progress}}
{{/if}}
{{#if error}}
<p id="error">Error: {{error}}</p>
{{/if}}
