<div id="videos-container">
</div>
{{#paper-button action="start"}} start{{/paper-button}}
{{#paper-button action="cancel"}} cancel{{/paper-button}}
{{#paper-button action="save"}} save{{/paper-button}}
<p id="result">{{success}}</p>
{{#if error}}
<p id="error">Error: {{error}}</p>
{{/if}}
