// Define desired color palettes.
$primary: "deep-orange";
$accent: "pink";
$warn: "yellow";

// If desired, import the palettes and modify to your liking.
@import "color-palette";

@import 'ember-paper';

.accent {
  color: color($primary, 'contrast');
  background-color: color($primary, '200');
}
body, .body {
  background-color: color($primary, '100');
  height: 100%;
}
.feed {
  width: 650px;
  margin: auto;
  background-color: color($primary, '200');
  color: white;
}
.thread{
  h2{
    text-align: center;
  }
  width: 100%;
  margin: 5px;
}
.create-thread{
  width: 650px;
  margin: auto;
  background-color: color($primary, '200');
}
