// Define desired color palettes.
$primary: "deep-orange";
$accent: "pink";
$warn: "yellow";

// If desired, import the palettes and modify to your liking.
@import "color-palette";

@import 'ember-paper';

.accent {
  color: color($primary, 'contrast');
  background-color: color($primary, '200');
}
