// Define desired color palettes.
$primary: "deep-orange";
$accent: "pink";
$warn: "yellow";
$break-md: 1280px;

// If desired, import the palettes and modify to your liking.
@import "color-palette";

@import 'ember-paper';

.accent {
  color: color($primary, 'contrast');
  background-color: color($primary, '200');
}
body, html, .body {
  background-color: color($primary, '100');
  height: 100%;
}
.feed {
  width: 650px;
  margin: auto;
  background-color: color($primary, '200');
  color: white;
}
.thread{
  h2{
    text-align: center;
  }
  width: 100%;
  margin: 5px;
}
.create-thread{
  width: 650px;
  margin: auto;
  background-color: color($primary, '200');
}
.thread{
  &__header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: color($primary, '600');
  }
  &__video{
    position: fixed;
    width: 640px;
    height: 320px;
    top: 50px;
  }
  &__feed{
    position: relative;
    left: 650px;
    top: 110px;
    overflow-y: hidden;
    width: 640px;
    @media screen and (max-width: $break-md) {
      top: 750px;
      left: 0;
    }
  }
  &__reply{
    margin-bottom: 4px;
    border-bottom: 1px solid black;
  }
}
.create-reply {
  position: fixed;
  top: 50px;
  z-index: 1;
  background-color: color($primary, '200');
}
