{{#each model as |item|}}
  <div class="mobile__container">
    {{#paper-button raised=true primary=true onClick=(action "newVideo" item.order)}}
      Record
    {{/paper-button}}
    {{item.order}}
    {{#if item.video}}
      <div class="feed__video">
        {{ivy-videojs controls=true src=item.video}}
      </div>
    {{/if}}
  </div>
{{/each}}

{{#if showNewVideo}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeNewVideo" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      {{video-upload saveVideo=(action "uploadDone")}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button raised=true primary=true onClick=(action "save")}}Submit{{/paper-button}}
      {{#paper-button warn onClick=(action "cancel")}}Cancel{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}