<div class="container">
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <h2>Social Video</h2>
      {{#paper-button action="createThread"}}Create a Thread{{/paper-button}}
    </div>
  {{/paper-toolbar}}
  <div class="body">
    {{outlet}}
  </div>
</div>