<div class="container">
  {{#paper-toolbar}}

    <h2>Social Video</h2>
    {{#paper-button onClick=(action "createThread") primary=true}}Primary (noink){{/paper-button}}
  {{/paper-toolbar}}
  {{#if creating}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Card with image{{/text.headline}}
          {{#text.subhead}}Large{{/text.subhead}}
        {{/title.text}}
        {{title.media size="lg" src="tomster-9918e85a7f1a28c78b484c34cbe88579.png" alt="Tomster" title="Tomster"}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/if}}
  <div class="body">
    {{outlet}}
  </div>
</div>